* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
}

.results {
    position: relative;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    bottom: 40px auto 80px;
}

.game {
    display: block;
    max-width: 200px;
    margin: 0 auto 50px;
}

div {
    background: yellow;
    width: 20px;
    height: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 200px;
}

.previous-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 80px;
}

.previous-shape {
    height: 80px;
    width: 80px;
}

.block {
    background: blue;
}

.block2{
    background: purple;
}

.block3 {
    background: green;
}