div {
    background: yellow;
    width: 20px;
    height: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 200px;
}

.block {
    background: blue;
}

.block2{
    background: purple;
}

.block3 {
    background: green;
}