* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 900px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

main {}

.results {
    background: transparent;
    margin: 40px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results button {
    width: 150px;
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    background: orange;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

button:hover {
    background: green;
    color: white;
    transform: scale(1.09);
}

.previous-shape {
    margin: 50px 0 40px;
}

.game {
    display: block;
    max-width: 200px;
    margin: 0 0 50px;
}

div {
    background: yellow;
    width: 20px;
    height: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 200px;
}

.previous-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 80px;
}

.previous-shape {
    height: 80px;
    width: 80px;
}

.block {
    background: blue;
}

.block2{
    background: purple;
}

.block3 {
    background: green;
}

@media(max-width: 660px){
    body {
        flex-direction: column;
    }
}